<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
(function() {
    console.log('Plop!');
})();
        </script>
    </head>
    <body>
<%
puts 'polop'
 %>
    </body>
</html>
